---
interface Props {
	title: string;
	body: string;
	href: string;
	target: string;
}

let { href, title, body, target } = Astro.props;

let arrow = '';

if (target == "_self") {
	// &rarr;
	arrow = '→';
} else {
	// &UpperRightArrow;
	arrow = '↗';
}
---

<li class="link-card">
	<a href={href} target={target}>
		<h2>
			{title}
			<span>{arrow}</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	@import "../styles/Card.css";
</style>
